<div class="row">
<div class="col offset-s3 s6"> 
<section class="card login">
  <form name="myform"
    ng-submit="login()"
    novalidate>

    <div class="textintro">
      <!-- <h1>Hi there!</h1> -->
    <div class="row">
     <div class="col offset-s2 s8"> 
     <center><img alt="" src="images/Provider_Logo-5.png" ></center>
     </div>
    </div> 
      <p>Log-in to access the Provider Solutions!</p>
      <p class="message" 
        ng-show="message"> {{ message }}</p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email"
       ng-model="user.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>


      <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>

    </fieldset>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Login</button>
    <p>or <a ng-href="#/register">register</a></p>
  </form>
</section>
</div>
</div>
