<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Payer Solutions</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/jcarousel.basic.css">
  <style>
  
  
  	.page-footer ul li a {
    float: left;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.card-panel
{
	 background-image: url('images/card background-3.jpg');
	 }
  </style>
</head>
<body ng-controller="PanelController" id="panel">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
    <img alt="" src="images/Logo-edited-small-1.jpg" ></a>
    <ul class="hide-on-med-and-down">
        <li><a><h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consumer System</h5></a></li>
       
          	
    </ul>
      <ul class="right">
        	<li><input type="search" placeholder="search" ng-model="srchkey.keyword"></li>
        	<li><button type="button" class="btn waves-effect waves-light"  ng-click="search()">Search</button></li>
             <li ng-show="showProv"><a ng-click="showBatch()" href="">Load Providers<i class="material-icons right">settings</i></a></li>
             <li ng-show="loadProv"><a ng-click="showProvider()" href="">Show Providers<i class="material-icons right">supervisor_account</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <!-- <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form> -->
    </div>
  </nav>
    <h4 ng-show="showProv" class="header center orange-text">Provider Details</h4>
	<h4 ng-show="loadProv" class="header center orange-text">Batch Details</h4>
	 

    <div class="section" ng-show="showProv">
			<div class="wrapper">
    
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <!-- <li><img src="images/img1.jpg" width="600" height="400" alt=""></li>
                        <li><img src="images/img2.jpg" width="600" height="400" alt=""></li>
                        <li><img src="images/img3.jpg" width="600" height="400" alt=""></li>
                        <li><img src="images/img4.jpg" width="600" height="400" alt=""></li>
                        <li><img src="images/img5.jpg" width="600" height="400" alt=""></li>
                        <li><img src="images/img6.jpg" width="600" height="400" alt=""></li> -->
                    </ul>
                </div>

            
                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                
                <p class="jcarousel-pagination">
                    
                </p>
            </div>
        </div>
    </div>

<div class="section" ng-show="loadProv">
<div class="wrapper">
<div class="row" style="height:100%;width:100%">
<div class="col s6 m6  l6" style="height:50%;width:50%">    

<div style="height:100%;width:100%">
  <table class="table centered bordered highlight responsive-table">
  <col width="130">
        <thead class="teal lighten-2 black-text">
          <tr>	
          	  <th>Previous 5 Runs</th>	
          </tr>
        </thead>

      <tbody class="grey lighten-1 black-text">
      <!-- <tr data-dir-paginate="event in dates|orderBy:sortKey:reverse|filter:search|itemsPerPage: 5" > -->
        <tr ng-repeat="event in dates" class="teal lighten-5">
      		<td>{{event.cycdt}}</td>
      </tr>
        </tbody>
      </table>
      <!-- <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
	</dir-pagination-controls>	                    
           -->
            </div>
</div>
<div class="col s6 m6  l6" style="height:45%;width:50%">
     <div class="card" style="height:5%;width:30%">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/BAT-edited.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Load Providers<i class="material-icons right">more_vert</i></span>
      <p><a ng-click="copyData()" href="#">Execute Batch</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Load Providers<i class="material-icons right">close</i></span>
      <p>This is the batch process for copying providers recently loaded in the Provider file into the Consumer system. Click on Execute Batch button!!!</p>
    </div>
  </div>
 <div  ng-show="executing" class="progress">
      <div class="indeterminate"></div>
  </div>
  <!--  ng-show="executing"-->
</div>
</div>
</div>
</div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Consumer Solutions reads and hosts all information from the Provider book of Records</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><img alt="" src="images/facebookIcon.jpg"></a></li>
                	<li><a class="grey-text text-lighten-3" href="#!"><img alt="" src="images/googlePlusIcon.jpg"></a></li>
                	<li><a class="grey-text text-lighten-3" href="#!"><img alt="" src="images/twitterIcon.jpg"></a></li>
                	<li><a class="grey-text text-lighten-3" href="#!"><img alt="" src="images/linkedinIcon.jpg"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.tcs.com/">TCS</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
   <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
   <script src="js/jcarousel.basic.js"></script>	
   <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular/angular-route.min.js"></script>
  <script src="js/lib/angular/angular-animate.min.js"></script>
  <script src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers/panel.js"></script>
    <script type="text/javascript" src="js/lib/dirPagination.js"></script>
  
	<script type="text/javascript">
	 $(document).ready(function(){
		 $('.carousel.carousel-slider').carousel({fullWidth: true});
	    });
	  window.onload=function()
	 {
		 angular.element(document.getElementById('panel')).scope().loadPanel();
	 }
	</script>
  </body>
</html>
