<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Allocations</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProvider</display-name>
    <servlet-name>AddProvider</servlet-name>
    <servlet-class>com.TCS.AddProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProvider</servlet-name>
    <url-pattern>/addProv</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ViewProvider</display-name>
    <servlet-name>ViewProvider</servlet-name>
    <servlet-class>com.TCS.ViewProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProvider</servlet-name>
    <url-pattern>/getProv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProvider</display-name>
    <servlet-name>searchProvider</servlet-name>
    <servlet-class>com.TCS.searchProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProvider</servlet-name>
    <url-pattern>/searchProv</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>updateProvider</display-name>
    <servlet-name>updateProvider</servlet-name>
    <servlet-class>com.TCS.updateProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProvider</servlet-name>
    <url-pattern>/updateProv</url-pattern>
  </servlet-mapping>
</web-app>

